.place-item {

  margin: 1rem 0;
  min-width: 65%;
  // min-width: 18rem;
  border: 1px solid lightgray;
  border-radius:4px;

  &__content {
    padding: 0;
  }

  &__info {
    // padding: 1rem;
    text-align: center;

    h3,
    h4,
    p {
      margin: 0 0 0.5rem 0;
    }
    h3{
      margin-top:0.5rem;
    }
  }

  &__image {
    width: 100%;
    height: 20rem;
    margin-right: 1.5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
    text-align: center;
    border-top: 1px solid #ccc;
    align-items:center;

    button,
    a {
      margin: 0.5rem;
    }
    img{
      height:30px;
      width:30px;

    }
    .heart {
      height:40px;
      width:50px;
      
      margin-right:1rem;
    }
    .like{
      background-color: white;
      border: none;
      cursor: pointer;
      margin:0;
    }
    
    .heart {
      transition: fill 0.3s ease; /* Smooth transition */
    }
    
    // .heart:hover path {
    //   fill: red; /* Fill color on hover */
    //   stroke:red;
    // }
    
  }

  &__modal-content {
    padding: 0;
  }

  &__modal-actions {
    text-align: right;
  }
}

.place-item:hover{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.map-container {
  height: 15rem;
  width: 100%;
}

@media (min-width: 768px) {
  .place-item__image {
    height: 18rem;
  }
}

 .place-item__content .creator-info{
  display: flex;
  flex-direction:row;
  align-items: center;
  margin:0.5rem 1rem;
  margin-top: 1rem;
  text-decoration: none;
  color:black;
}

.left img{
  height:75px;
  width:75px;
  border-radius: 50%;
}

.right{
  margin-left:1rem;
  display: flex;
  flex-direction: column;
}


.right span img{
  height:15px;
  width:15px;
}

.right span{
  display: flex;
  align-items: center;
  color:gray;
}
.right .author-name{
  font-weight: bold;
  font-size: large;
  color:black
}

.description{
  padding: 0.5rem;
  padding-left: 1rem;
}

.dot {
  // display: inline-block;
  width: 0.2rem; /* Adjust as necessary */
  height: 0.2rem; /* Adjust as necessary */
  background-color: gray;
  border-radius: 50%;
}
.right .time{
  margin-right:0.3rem;
}
.right img{
  margin-left:0.3rem;
}





